
-- Enable DELETE for organizers on coding_challenges
CREATE POLICY "Organizers can delete coding challenges" ON public.coding_challenges
FOR DELETE USING (
EXISTS (
  SELECT 1 FROM public.courses
  WHERE courses.id = coding_challenges.course_id
  AND courses.organizer_id = auth.uid()
)
);

